<body >
  <link rel="stylesheet" href="../static/Style2.css"
   < nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
      <div class="container">
          
          <div class="collapse navbar-collapse" id="navbarToggler">
            
                  <li class="nav-item">
          <a id ="aa" href="/Predictions" target="_blank" class="btn btn-danger btn-round">Prediction Page</a>
        
              
          </div>
      </div>
  </nav>
  <div class="wrapper">
      <!-- <div class="page-header section-dark" style="background-image: url('https://medicaldialogues.in/h-upload/2020/12/30/145030-chronic-kidney-disease.webp')">
          <div class="filter"></div> -->
      <div class="content-center">
        <div class="container">
          <div class="title-brand">
            <h1 class="presentation-title"></h1>
            
            <p class="p1">CKD is a condition in which the kidneys are damaged and cannot filter blood as well as they should. Because of this, excess fluid and waste from blood remain in the body and may cause other health problems, such as heart disease and stroke.</p>
            
            
          </div>

          <h2 class="p2">TEAM ID:PNT2022TMID22069</h2>
        </div>
      </div>
          
    </div>
</div>
</body>
<style>
.p1 , .p2{
  text-align: center;
  align-content: center;
  color: black;
}
#aa {
  position: absolute;
  bottom: 120px;
  left: 45%;
  
  
}


</style>